In [1]:
# SparkSession: It is a Unified entry point for manipulating data with Spark. Before it, the SparkContext was the entry point. And needed a SparkConf object to configure it.

from pyspark.sql import SparkSession

# Create a Spark Apllication
spark = SparkSession.builder.getOrCreate()

In [2]:
spark

In [3]:
# To read File we use spark.read
file_path = "timeseries.csv"
tips = spark.read.csv(file_path, header = True)
tips.show()

+--------+------------------+------------------+--------------------+
|    Name|             Start|               End|            Activity|
+--------+------------------+------------------+--------------------+
|Priyanka|10/Oct/23 10:43 PM|20/Jul/23 03:31 AM|          Inspection|
|   Jyoti|24/Aug/23 05:55 AM|17/May/23 08:19 PM|   Remote Inspection|
|   Jyoti|08/Jun/23 08:19 AM|08/Apr/23 05:55 AM|             Updates|
|Priyanka|21/Sep/23 03:31 PM|27/May/23 10:43 AM|           Reporting|
|Priyanka|07/Oct/23 03:31 AM|30/Apr/23 01:07 PM|  Reply to Customers|
|Priyanka|19/May/23 03:31 AM|11/May/23 08:19 PM|             Updates|
|  Deepti|02/Aug/23 01:07 PM|25/Apr/23 10:43 AM|        Fund raising|
|   Jyoti|04/May/23 10:43 PM|17/Aug/23 08:19 PM|Business Development|
|Priyanka|15/Aug/23 03:31 AM|02/Jul/23 01:07 PM|           Reporting|
|  Sharan|08/Jun/23 01:07 PM|24/Sep/23 01:07 AM|  Reply to Customers|
|Priyanka|06/Apr/23 01:07 AM|15/May/23 08:19 PM|          Send Email|
|  Deepti|01/Oct/23 03:31 AM|23/Jul/23 08:19 AM|             Podcast|
|Priyanka|20/Sep/23 10:43 AM|19/Aug/23 08:19 PM|                Call|
|    Ravi|12/May/23 10:43 AM|30/Mar/23 01:07 PM|          Inspection|
|  Sharan|18/Sep/23 10:43 AM|31/Jul/23 03:31 AM|Business Development|
|    Ravi|17/Apr/23 03:31 PM|19/Apr/23 01:07 AM|             Updates|
|Priyanka|18/Aug/23 01:07 AM|15/Sep/23 08:19 PM|   Remote Inspection|
|  Sharan|06/Sep/23 08:19 AM|11/May/23 03:31 PM|          Inspection|
|Priyanka|20/May/23 10:43 AM|20/Apr/23 05:55 PM|        Fund raising|
|  Sharan|06/Sep/23 01:07 AM|17/Jul/23 08:19 PM|             Podcast|
+--------+------------------+------------------+--------------------+
only showing top 20 rows

In [4]:
type(tips)

pyspark.sql.dataframe.DataFrame

In [8]:
# Using the below function we create a table in default database of spark.
tips.createOrReplaceTempView("tips")

In [9]:
# Good thing about spark table is we can query it as we do in SQL.

query = "Select * from tips where tips.name = 'Priyanka';"

In [11]:
tips_sql = spark.sql(query)
tips_sql.show()

+--------+------------------+------------------+------------------+
|    Name|             Start|               End|          Activity|
+--------+------------------+------------------+------------------+
|Priyanka|10/Oct/23 10:43 PM|20/Jul/23 03:31 AM|        Inspection|
|Priyanka|21/Sep/23 03:31 PM|27/May/23 10:43 AM|         Reporting|
|Priyanka|07/Oct/23 03:31 AM|30/Apr/23 01:07 PM|Reply to Customers|
|Priyanka|19/May/23 03:31 AM|11/May/23 08:19 PM|           Updates|
|Priyanka|15/Aug/23 03:31 AM|02/Jul/23 01:07 PM|         Reporting|
|Priyanka|06/Apr/23 01:07 AM|15/May/23 08:19 PM|        Send Email|
|Priyanka|20/Sep/23 10:43 AM|19/Aug/23 08:19 PM|              Call|
|Priyanka|18/Aug/23 01:07 AM|15/Sep/23 08:19 PM| Remote Inspection|
|Priyanka|20/May/23 10:43 AM|20/Apr/23 05:55 PM|      Fund raising|
|Priyanka|08/Apr/23 05:55 PM|03/Sep/23 01:07 AM|           Updates|
|Priyanka|19/Sep/23 03:31 AM|12/Oct/23 10:43 AM|           Updates|
|Priyanka|04/Oct/23 03:31 AM|08/Apr/23 05:55 PM|              Call|
|Priyanka|27/Jul/23 01:07 PM|01/Jun/23 10:43 AM|              Call|
|Priyanka|20/May/23 10:43 AM|26/Apr/23 05:55 AM|        Inspection|
|Priyanka|09/Apr/23 08:19 PM|17/Jun/23 08:19 PM|         Reporting|
|Priyanka|23/Jun/23 05:55 AM|04/May/23 05:55 PM|           Updates|
|Priyanka|29/Aug/23 10:43 PM|09/Sep/23 03:31 AM|      Fund raising|
|Priyanka|09/Aug/23 10:43 AM|13/Apr/23 03:31 AM|              Call|
|Priyanka|28/Sep/23 03:31 PM|25/May/23 03:31 AM|        Inspection|
|Priyanka|31/Mar/23 05:55 PM|11/Aug/23 05:55 PM|Reply to Customers|
+--------+------------------+------------------+------------------+
only showing top 20 rows

In [13]:
# To convert into pandas dataframe to perform pandas func.
tips_df = tips_sql.toPandas()
tips_df.head()

       Name               Start                 End            Activity
0  Priyanka  10/Oct/23 10:43 PM  20/Jul/23 03:31 AM          Inspection
1  Priyanka  21/Sep/23 03:31 PM  27/May/23 10:43 AM           Reporting
2  Priyanka  07/Oct/23 03:31 AM  30/Apr/23 01:07 PM  Reply to Customers
3  Priyanka  19/May/23 03:31 AM  11/May/23 08:19 PM             Updates
4  Priyanka  15/Aug/23 03:31 AM  02/Jul/23 01:07 PM           Reporting

In [16]:
filterA = tips.Name == 'Priyanka'
filterB = tips.Activity == 'Reporting'
tips_fl = tips.filter(filterA).filter(filterB)

In [18]:
tips_fl.show()

+--------+------------------+------------------+---------+
|    Name|             Start|               End| Activity|
+--------+------------------+------------------+---------+
|Priyanka|21/Sep/23 03:31 PM|27/May/23 10:43 AM|Reporting|
|Priyanka|15/Aug/23 03:31 AM|02/Jul/23 01:07 PM|Reporting|
|Priyanka|09/Apr/23 08:19 PM|17/Jun/23 08:19 PM|Reporting|
|Priyanka|10/Aug/23 05:55 AM|27/Jul/23 05:55 AM|Reporting|
|Priyanka|24/Jul/23 01:07 AM|22/Jun/23 10:43 PM|Reporting|
|Priyanka|30/Mar/23 01:07 PM|12/Oct/23 05:55 PM|Reporting|
|Priyanka|02/Apr/23 10:43 AM|21/Apr/23 05:55 PM|Reporting|
|Priyanka|16/Jul/23 10:43 PM|19/Jun/23 10:43 PM|Reporting|
|Priyanka|25/Apr/23 05:55 PM|27/May/23 01:07 AM|Reporting|
|Priyanka|30/Jun/23 05:55 PM|29/Aug/23 05:55 AM|Reporting|
|Priyanka|04/Sep/23 08:19 AM|31/May/23 08:19 PM|Reporting|
|Priyanka|21/Jun/23 05:55 PM|27/Apr/23 08:19 PM|Reporting|
|Priyanka|16/Sep/23 03:31 AM|01/Apr/23 08:19 AM|Reporting|
|Priyanka|31/Mar/23 10:43 PM|05/Oct/23 10:43 AM|Reporting|
|Priyanka|06/Jul/23 01:07 PM|24/Jun/23 05:55 PM|Reporting|
|Priyanka|23/Aug/23 01:07 PM|14/Sep/23 05:55 PM|Reporting|
|Priyanka|16/Jun/23 10:43 AM|15/May/23 01:07 AM|Reporting|
|Priyanka|31/Mar/23 05:55 AM|02/Oct/23 05:55 AM|Reporting|
|Priyanka|04/Apr/23 01:07 AM|13/Aug/23 05:55 PM|Reporting|
|Priyanka|09/Sep/23 03:31 AM|21/Sep/23 01:07 AM|Reporting|
+--------+------------------+------------------+---------+
only showing top 20 rows