# SQL - Structured Query Language

- powerful language for querying and analyzing any amount of data in the world
- commonly used for Business Intelligence so companies can make operative decisions
- construct long-running data pipelines and process data for business purposes - Spark is a great example of a technology that utilizes SQL syntax to create data pipelines that can continuously process large amounts of data and turn it into another form of useful data, either for insights or for generating new data out of existing data.

### CREATE

- Create tables.
- syntax: `CREATE TABLE helloworld (phrase TEXT) 
- Creates a table names helloworld whitha single column named phrase with dtype text, i.e. it can store text.

- We use `.tables` an sqlite command to show list of tables.

## INSERT

- helps inserting data into table.
- syntax: `INSERT INTO helloworld VALUES ("Hello World!");`

### Count

- counts no. of values for given query.
- syntax: `SELECT COUNT(*) FROM helloworld;`
- expected output: 1

## SELECT

- we use it to query the data and get insights.
- syntax: `SELECT * FROM helloworld WHERE phrase = "Hello World!";`
- we use **WHERE** to define what specifically we are looking for.
- Selecting data is the foundation of SQL
- basic syntax:    
  SELECT column1, column2, column3...    
  FROM table1, table2, table3...    
  WHERE condition1 AND condition2... ;

- **\* means select all.**

## UPDATE

- as name suggests it updates the values/records in row.
- syntax:    
    UPDATE table_name    
    SET column1 = value1, column2 = value2, ...    
    WHERE key = value

## DELETE

- Deleting rows is very similar to updating rows, only that type of update done to the row is a delete.
- syntax: `DELETE FROM table_name WHERE column1 = value1 AND column2 = value2`

## Rules

- While defining a table always use `Primary Key` keyword for atleast one column to create a PK that cannot be null and is unique for all records.
- `NOT NULL` is used when we need to maek a column that can't contain NULL value.
-